<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--核心配置文件-->

<mapper namespace="BookMapper">

    <insert id="insertBooks" parameterType="Books">
        insert into books (bookName,bookCounts,detail) value (#{bookName},#{bookCounts},#{detail})
    </insert>

    <select id="queryBooks" resultType="Books">
        select * from books
    </select>

    <select id="queryBooksById" resultType="Books">
        select * from books where bookID=#{bookid}
    </select>

    <update id="updateBooks" parameterType="Books">
        update books set bookName=#{bookName},bookCounts=#{bookCounts},detail=#{detail} where bookID=#{bookID}
    </update>

    <delete id="deleteBooks" parameterType="int">
        delete from books where bookID=#{bookid}
    </delete>

</mapper>